body {
  background:#f9f9f9;
  width:1440px;
  height:2055px;
};

.divProduct {
  background:#ffffff;
  box-shadow:2px 2px 4px 0 rgba(0,0,0,0.10);
  width:276px;
  height:276px;
};

.divImageProduct {
  background:#ffffff;
  width:252px;
  height:182px;
};

.UserNameCss {
  font-family:SourceSansPro-Regular;
  font-size:24px;
  color:#616161;
  letter-spacing:-0.15px;
  line-height:48px;
  text-align:left;
}

.divUserPoints {
  background:#ededed;
  border-radius:100px;
  width:103px;
  height:48px;
  text-align: right;
}

.datoUserPoints {
  font-family:SourceSansPro-Regular;
  font-size:24px;
  color:#616161;
  letter-spacing:-0.15px;
  line-height:48px;
  text-align:left;
}

.imageHeader {
  width:1440px;
  height:412px;
}

.divImageHeader {
  width:1440px;
  height:480px;
}

.botonPrueba {
  background:#0ad4fa;
  border-radius:100px;
  width:163px;
  height:48px;
  font-family:SourceSansPro-Regular;
  font-size:24px;
  color:#ffffff;
  letter-spacing:-0.15px;
  line-height:48px;
  text-align:left;
}

.botonNoMarcado {
  background:#ededed;
  border-radius:100px;
  width:172px;
  height:48px;
  font-family:SourceSansPro-Regular;
  font-size:24px;
  color:#a3a3a3;
  letter-spacing:-0.15px;
  line-height:48px;
  text-align:left;
}

.logoAerolab {
  background-image:linear-gradient(-180deg, #ff8800 0%, #ff6600 100%);
  width:39px;
  height:36px;
}

.divImageAndProduct {
  background:#d9d9d9;
  width:228px;
  height:1px;
}


.containerButton {
  display: flex;
  flex-direction: row
}

.containerHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:1440px;
  height:80px;
}

.moneyContainer {
  display: flex;
}

.SortButton {
  font-family:SourceSansPro-Regular;
  font-size:24px;
  color:#a3a3a3;
  letter-spacing:-0.15px;
  line-height:48px;
  text-align:left;
}

.textListProdct {
  font-family:SourceSansPro-Regular;
  font-size:24px;
  color:#616161;
  letter-spacing:-0.15px;
  line-height:48px;
  text-align:left;
}

.divProductPr {
  background:#d9d9d9;
  width:1176px;
  height:1px;
}

.divProductSort {
  background:#d9d9d9;
  width:1px;
  height:49px;
}

.moneyDiv1 {
  background-image:radial-gradient(50% -18%, #ffcf00 50%, #f7ae15 100%);
  width:24px;
  height:24px;
  border-radius:100%;
}

.moneyDiv2 {
  background:#f8b013;
  width:19px;
  height:19px;
}

.moneyDiv3 {
  background:#f8b013;
  width:15px;
  height:15px;
}

.bton {
  background:#ffffff;
  width:228px;
  height:42px;
  font-family:SourceSansPro-Regular;
  font-size:18px;
  color:#616161;
  letter-spacing:-0.04px;
  text-align:center;
}

.btnLetras {
  font-family:SourceSansPro-Regular;
  font-size:18px;
  color:#616161;
  letter-spacing:-0.04px;
  text-align:center;
}
